{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'vendor/bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% block css %}

    {% endblock %}
    {% htmx_script %}
  </head>
  <body hx-ext="morph" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <section style="display: flex; align-items: center; justify-content: center;">
      <span id="loader" class="htmx-indicator loader"></span>
    </section>
    <main id="main">
        
      {% include "menu.html" %}

        <section class="section">
        <div class="container">
            {% block content %}
    
            {% endblock %}
        </div>
        </section>
    
    </main>

    <script src="{% static 'js/bulma.js' %}"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>
