{% load extra_settings %}

<section id="menubar" class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" hx-get="{% url 'home' %}" hx-target="main" hx-indicator="loader" hx-push-url="true" hx-swap="morph" href="{% url 'home' %}"><img src="{{ logo.url }}" alt="{% get_setting 'SITE_NAME' %}" /></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a hx-get="{% url 'about' %}" hx-target="main" hx-indicator="loader" hx-push-url="true" hx-swap="morph" href="{% url 'about' %}" class="navbar-item">Sobre</a>
        <a hx-get="{% url 'contact' %}" hx-target="main" hx-indicator="loader" hx-push-url="true" hx-swap="morph" href="{% url 'contact' %}" class="navbar-item">Contato</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button id="theme-switcher" class="button">Light</button>
            {% if user.is_staff %}
              <a class="button is-primary" href="{% url 'admin:index' %}">🏬 Administração</a>
              {% if debug %}
                <a class="button is-info" href="http://localhost:8025/" target="_blank">📧 MailHog</a>
                <a class="button is-info" href="http://localhost:9001/" target="_blank">🖼️ Minio</a>
              {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="button is-danger">Log Out</button>
              </form>
            {% else %}
              <a class="button is-primary" hx-get="{% url 'signup' %}" hx-target="main" hx-indicator="loader" hx-push-url="true" hx-swap="morph" href="{% url 'signup' %}"><strong>Sign up</strong></a>
              <a class="button is-light" href="{% url 'login' %}">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="container">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>
          <article class="message {% if message.tags %}
              {{ message.tags }}
            {% endif %}">
            <div class="message-body">{{ message }}</div>
          </article>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
